* {
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}

body{
    
}

/*
 @media screen and (max-width: 700px) {
    .row, .navbar {   
        flex-direction: column;
    } 
*/
.container{
    margin:20px;
}
.row {  
    display: flex; 
    flex-direction: row;
}

.side {
    flex: .5;
    padding:150px 0px;
    background-color:beige;
    
}


.main {
    flex: 4;
    background-color:#42f4a4;
    padding: 20px;
    margin-left: 20px;
}


.rest{
    margin-top: 50px;
    text-align: center;
}

#name{
    font-weight: bold;
    color:red;
    margin-bottom: 30px;
    text-align: center;
}

#robot{
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    width: 40%;*/
}

.all{
    display: flex;
    flex-direction: column;
}

.1,2,3,4{
    flex:1;
}

ul{
    list-style-type: none;
}
a:link {
    color: green;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color:red;
}
a:visted{
    color: blue;
}